<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/searched.css">
    <title>Searched item</title>
    <script src="https://kit.fontawesome.com/5d4765dc9e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="base-container">
            
    <div class="leftside">
        <img src="../img/atak_chmielu.svg">
        <rating>
         <i class="fa-solid fa-star"></i>
         <t>Rating:</t>
         <b>8.21/10</b>
         </rating>
        <b>
            <i class="fa-solid fa-arrow-left"></i>
            <bck>Back</bck>
        </b>
    </div>
    <div class="rightside">
        <name>
            <t>name:</t>
            <b>Atak chmielu</b>
        </name>

        <brewery>
            <t>brewery:</t>
            <b>PINTA</b>
        </brewery>

        <type>
            <t> style: </t>
            <b>American Ipa</b>
        </type>

        <alcohol>
            <t>alcohol:</t>
            <b>6,1%</b>
        </alcohol>

        <description>
            <t>description:</t>
            <div class="des">
                <b2>BLG 15,1°,   ABV 6,1%<br>
                    Pierwsza AIPA z polskiego browaru. Atak Chmielu warzymy od 28 marca 2011 r.
                    Nasza AIPA to czerwono-miedziane, treściwe piwo górnej fermentacji. Smak i 
                    aromat cytrusowy, kwiatowy, żywiczny, sosnowy i owocowy pochodzi od amerykańskiego chmielu.</b2>
                </div>
        </description>

        <rate>
                <input name="beer" type="text" placeholder="Rate this beer here...">           
            <b>
                <i class="fa-solid fa-plus"></i>
                <rt>Rate</rt> 
            </b>
        </rate>

    </div>
    </div>
</body>