body {
    margin: 0;
    background: #ECFFCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.base{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
sen{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #65370E;
}
input{
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    padding: 1em;
    margin: 1em;
    width: 100%;
    

    font-size: 35px;
}
button{
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    padding: 0.5em;
    margin: 2em;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;
}
button i{
    margin:0.5em;
}
b{
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    padding: 1em;
    margin: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;

    
}
b pic{
    font-size:200px;
}

@media only screen and (max-device-width: 420px) {
    .base{
        flex-direction: column;
    }
}