body {
    margin: 0;
}

.base-container {
    height: 150vh;
    width: 100vw;
    background: #ECFFCF;
}

.base-container:first-child {
    position: absolute;
    top: 0;
}

.component button {
    background: #ECFFCF;
    border-radius: 45px;
    border: 0;
    padding: 3em;
}

panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    height: 2em;
    padding: 3em;
    margin: 3em;
    position: absolute;
    right: 0;
}

.base-container panel form button {
    background: #ECFFCF;
    border-radius: 45px;
    border: 0;
    font-size: 35px;
    padding: 0.5em;

    font-family: 'Oswald', sans-serif;
    color: #65370E;
    font-weight: 10;
}

panel i {
    color: #65370E;
    font-weight: 500;
    font-size: 45px;
    margin: 0.5em;
}

b {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 44px;
    padding: 1em;
    
    color: #65370E;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 25em;
    margin: 2em;
}

.component img {
    height: 7em;
    margin: 0.5em;
    border-radius: 25px;
}

f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.component{
    display: table;
    flex-direction: row;
    justify-content: center;
    margin: 1em;

    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
}

.beers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    height: 50em;
    margin-right: 10em;
}

.breweries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    height: 50em;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

b1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 0px;
    border-radius: 30px;
    width: 80%;
    font-size: 25px;
    padding: 1em;
    margin: 2em;
}

b2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 0px;
    border-radius: 30px;
    width: 80%;
    font-size: 25px;
    padding: 1em;
    margin: 2em;
}

input {
    background: #FFFFFF;
    border: 0px;
    border-radius: 30px;
    
    width: 80%;
    font-size: 45px;
}

b1 i {
    color: grey;
    margin: 0.5em;
    font-size: 40px;
}

b2 i{
    color: grey;
    margin: 0.5em;
    font-size: 40px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6em;
}


.options form button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    padding: 1em;


    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #65370E;
    font-weight: 10;
}

.messages {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    color: #65370E;
    font-weight: 10;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form{
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-device-width: 420px) {
 b1 {
    font-size: 30px;
 }

 b2 {
    font-size: 30px;
 }

 b {
    font-size: 40px;
 }

 .beers {
     margin: 0em;
 }

 header {
    flex-direction: column;
    padding: 5em;
 }

 .logo {
    justify-content: left;
 }

 input {
    font-size: 20px;
 }

 b1 i {
     font-size: 20px;
 }

 b2 i{
     font-size: 20px;
 }

}

    

    

