body {
    margin: 0;
    background: #ECFFCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    background: rgba(88, 202, 60, 0.42);
    border: 1px solid #65370E;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #65370E;

}

img {
    height:50em;
}

.ratings img {
    height: 3em;
}

b {
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;
    padding: 0.5em;
}

.beers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
}

.breweries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

table {
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;
    padding: 0.5em;
}

td{
    padding: 0.5em;
}

@media only screen and (max-device-width: 420px) {
    .header {
        flex-direction: column;
    }

    .ratings {
        flex-direction: column;
    }

    img {
        height: 30em;
    }

    button{
        font-size: 20px;
    }

    b {
        font-size: 40px;
    }

    table {
        font-size: 25px;
    }

    .beers {
        padding: 5em;
    }

    .breweries {
        padding: 0em;
    }
}