body {
    padding: 2em;
    margin: 0;
    background: rgba(88, 202, 60, 0.42);
    
}
.base-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 50em;
    border-radius: 45px;
    margin: 3em;
}

b{
    background: #ECFFCF;
    border: 0px;
    border-radius: 45px;
    padding: 0.5em;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;
}

b2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 1em;
    color: #65370E;
}

button {
    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
    padding: 1em;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 1em;
    color: #65370E;
}

.des{
    background: #ECFFCF;
    border: 0px;
    border-radius: 45px;
    padding: 3em;
    margin: 2em;
    
    justify-content: left;
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rightside {
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    
}

t {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #65370E;
    margin: 0.5em;
}

component {
    display: flex;
    flex-direction: column;
}

rating i{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #65370E;
    font-weight: 10;

}

b i{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #65370E;
    font-weight: 10;
}

rating{
    margin:20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    background: #FFFFFF;
    border: 0px;
    border-radius: 45px;
    padding: 1em;
    font-size: 50px;
}

namebrewery {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 300px;
    color: #65370E;
    margin: 0.5em;
}

ratingbrewery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3em;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #65370E;
    margin: 0.5em;
}

.brewname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.component{
    display: table;
    flex-direction: row;
    justify-content: center;
    margin: 1em;

    background: rgba(88, 202, 60, 0.42);
    border: 0px;
    border-radius: 45px;
}

.component img {
    height: 15em;
    margin: 0.5em;
    border-radius: 25px;
}

.component button {
    background: #ECFFCF;
    border-radius: 45px;
    border: 0;

}

tbrew {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #65370E;
    margin: 0.5em;
}

bb {
    padding: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 150px;
    color: #65370E;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
}

.beers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    height: 60em;
}

@media only screen and (max-device-width: 420px) {
    .base-container {
        flex-direction: column;
    }
    img {
        height: 30em;
    }

    rating {
        margin: 0em;
    }

    .rate form {
        flex-direction: column;
    }

    .brewname {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    namebrewery {
        margin: 0;
    }

    bb {
        font-size: 60px;
    }

    .component img {
        height: 7em;
    }

}