body {
    padding: 2em;
    margin: 0;
    background: rgba(88, 202, 60, 0.42);
    
}
.base-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img {
    height: 50em;
    border-radius: 45px;
    margin: 3em;
}
b{
    background: #ECFFCF;
    border: 0px;
    border-radius: 45px;
    padding: 0.5em;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #65370E;
}
b2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 1em;
    color: #65370E;
}
.des{
    background: #ECFFCF;
    border: 0px;
    border-radius: 45px;
    padding: 3em;
    margin: 2em;
    
    justify-content: left;
}
.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rightside {
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    
}
t{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #65370E;
    margin: 0.5em;
}
name{
    
    display: flex;
    flex-direction: column;
    
}
type{
    
    display: flex;
    flex-direction: column;
}
brewery{
    
    display: flex;
    flex-direction: column;
}
alcohol{
    
    display: flex;
    flex-direction: column;
}
description{
    display: flex;
    flex-direction: column;
    
}
rating i{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #65370E;
    font-weight: 10;

}
b i{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #65370E;
    font-weight: 10;
}
rating{
    margin:20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
    background: #FFFFFF;
    border: 0px;
    border-radius: 45px;
    padding: 1em;
    margin: 2em;
   

    font-size: 50px;
}

@media only screen and (max-device-width: 420px) {
    .base-container {
        flex-direction: column;
    }   
    rating{
        margin:8em;
    }
    name{
        margin: 2em;
        align-items: center;
    }
    brewery{
        margin: 2em;
        align-items: center;
    }
    type{
        margin: 2em;
        align-items: center;
    }
    alcohol{
        margin: 2em;
        align-items: center;
    }
    description{
        margin: 2em;
        align-items: center;
    }
    b2{
        font-size: 15px;
    }
    rate{
        flex-direction: column;
    }

}